body {
    margin: 0;
    padding: 0;
}

nav {
    padding-top: 8px;
    padding-botton: 8px;
    background-color: yellow;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 10px;
    padding-bottom: 24px;
}

li {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

li:hover {
    background-color: white;
}

a {
    color: black;
    font-family: monoscape;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}